@mixin column-count($x){ 
    -webkit-column-count: 2;
    -moz-column-count: $x;
    column-count: $x;
}

@font-face {
    font-family: 'Aldo';
    src: url('AldotheApache.ttf');
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('BAHNSCHRIFT.TTF');
}

html {
    background-color:#151515;
}

/*general elements --------------------------- */

a img {
    opacity: inherit;
}

.whitespace {
    height: 120px;
}

.sectionWhitespace {
    height: 73px;
}

.smallWhitespace {
    height: 60px;
}

.tinyWhitespace {
    height: 20px;
}

/* header  ------------------------- */

@keyframes roll {
	0% {
	    margin-left: 10vw;
        transform: rotate(0deg);
	}
	50% {
	    margin-left: calc(10vw + 190px);
        transform: rotate(360deg);
	}
    100% {
	    margin-left: 10vw;
        transform: rotate(0deg);
	}
}

@keyframes stay {
	0% {
	    margin-left: 0vw;
	}
	50% {
	    margin-left: calc(0vw - 190px);
	}
    100% {
	    margin-left: 0vw;
	}
}

@media (max-width: 980px) {
    @keyframes roll {
        0% {
            margin-left: calc(50% - 250px);
            transform: rotate(0deg);
        }
        50% {
            margin-left: calc(50% - 60px);
            transform: rotate(360deg);
        }
        100% {
            margin-left: calc(50% - 250px);
            transform: rotate(0deg);
        }
    }
    
    @keyframes stay {
        0% {
            margin-left: 0vw;
        }
        50% {
            margin-left: calc(0vw - 190px);
        }
        100% {
            margin-left: 0vw;
        }
    }
}

#header {
    /*display: inline-block;*/
    position: fixed;
    top: 0vw;
    left: 0vw;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    padding-top: .0vw;
    background-color:#81A689;
    height: 10vh;
    //min-height: 60px;
    width: 100%;
    z-index: 99;

    #logo {
        margin-left: 10vw;
        margin-top: 0vw;
        height: 100%;
    }

    #logo.animated {
        animation: roll 0.75s backwards;
    }

    #logoname {
        margin-left: 0vw;
        margin-top: 0vw;
        height: 100%;
    }

    #logoname.animated {
        animation: stay 0.75s backwards;
    }

    #links {
        height: 100%;
        padding-right: 10%;
        float: right;

        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        //white-space: nowrap;

        a {
            position: relative;
            display: block;
            margin-top: 25px;
            margin-left: 2vw;

            font-size: 20px;
            font-weight: bold;
            font-family:'Open Sans', sans;
            text-transform: uppercase;
            text-decoration: none;

            color: #2A2A2A;
            transition: color 0.3s;
        }

        a:hover {
            color: #FFFFFF;
        }
    }

    @media (max-width: 980px)
    {
        #logo {
            margin-left: calc(50% - 250px);
        }

        #links {
            display: none;
        }
    }
}

/* carousel -------------------------------- */
#carouselExampleIndicators {
    top: 75px;

    .d-block {
        height: 75vh;
        object-fit: cover;
    }

    .carousel-item:before {
        content: '';
        position:absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
        z-index: 1;
    }
    
    @media (max-width: 980px)
    {
        h5 {
            font-size: 2em;
        }
    
        p {
            font-size: 1.5em;
        }
    }
}

/* sectionTitle ----------------------------- */
div.sectionTitle {
    background-color:#151515;

    h1 {
        color: white;
        text-transform: uppercase;
        font-family: Aldo;
        font-size: 45px;

        margin-top: auto;
    }

    .titleLeft {
        margin-left: 10%;
    }

    .titleRight {
        margin-left: 80%;
    }

    @media (max-width: 980px)
    {
        h1 {
            font-size: 5em;
        }

        .titleRight {
            margin-left: 60%;
        }
    }
}

/* sections ----------------------------- */
.section {
    background-color:#EEEEEE;

    h2, p, button {
        color: #5f5f5f;
        font-family: Bahnschrift/*Arial,Helvetica,sans-serif*/;
    }

    h2 {
        font-family: Bahnschrift;
        font-size: 25px;
    }

    p {
        font-size: 18px;
    }

    @media (max-width: 980px)
    {
        h2 {
            font-family: Bahnschrift;
            font-size: 3em;
        }
    
        p {
            font-size: 2em;
            text-align: center;
        }
    }

    .center {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around;
        padding: 0 10%;
    
        .text-left {
            width: 40%;
            min-width: 400px;
            text-align: justify;
        }
    
        .text-right {
            width: 40%;
            min-width: 400px;
            text-align: right;
        }
    
        .image {
            width: 50%;
            min-width: 500px;

            img {
                width: 100%;
            }
        }

        @media (max-width: 980px)
        {
            .text-left {
                width: 80%;
                min-width: 400px;
            }

            .image {
                width: 80%;
                margin-top: 50px;
            }
        }
    }

    #events-container {
        align-content: space-around;

        .event {
            width: 25%;
            min-width: 250px;
            margin-bottom: 50px;

            img {
                display: block;
                margin: 0 auto;
                height: 50px;
            }

            h2, p {
                margin: 0 auto;
                text-align: center;
                width: 80%;
            }
        }

        @media (max-width: 980px)
        {
            .event {
                min-width: 500px;
            }
        }
    }
}

/* footer */
#footer {
    background-color:#151515;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

    #footer-container {
        flex-wrap: wrap;
        align-content: stretch;
        margin: 0 auto;
        height: 100%;
        width: 75%;
    }

    .footer-element {
        display: flex;
        flex-direction: column;
        align-content: stretch;
        margin: 0 auto;
        width: 40%;
        height: 50px;
    }

    #footer-icons {
        align-items: center;
        width: 65%;
        margin: 0 auto;

        .image {
            width: 50px;

            a {
                width: 50px;
                color: #FFFFFF;
                transition: color 0.3s;

                img {
                    width: 100%;
                }
            }
        }

        a:hover {
            color: #81A689;
        }
    }

    .flex-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    @media (max-width: 980px)
    {
        #footer-container {
            width: 90%;
            height: 300px;
        }

        h2 {
            font-size: 2em;
        }
    
        p {
            font-size: 1.65em;
        }

        #footer-icons {
            .image {
                width: 100px;

                a {
                    width: 100px;
                }
            }
        }
    }
}